# hidden files, force-add gitignore
.*
!/.gitignore

# python
__pycache__/
**.py[cod]
*$py.class
**.so
**.o

# files
**.nc
**.mat
**.pdf
**.png
**.pkl
**.cdf
**.feather

# folders
/viz/*.pdf
/viz/*.dot
/benchmark/*
/figures/*
/data/*
/old_docs/*
/literature/*
/papers_to_read/*
/src/pwp/
/presentations/
/src/old/
/manuscript/*
/old/*
/src_from_visnu/*
/src_old/*
/notebooks/dask-worker-space/*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
